.tube-indicator {
  position: absolute;
  height: 15px;
  width: 15px;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
}

.tube-indicator.true {
  border-color: green;
}

.tube-indicator.false {
  border-color: gray;
}

.chat {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

.chat .messages {
  flex: 1;
  min-height: 0px;
  overflow-y: scroll;
  width: 100%;
}

.chat .messages ul {
  display: flex;
  flex-direction: column;
}

.chat .messages ul li {
  margin-bottom: 3px;
  padding: 10px 10px;
  width: fit-content;
  background-color: lightgray;
  border-radius: 8px;
}

.chat .messages ul li.my {
  background-color: lightblue;
}

.chat .messages .message {

}

.chat .send-box {
  width: 90%;
  display: flex;
  align-items: center;
}

.chat .send-box input {
  max-width: 90%;
  flex: 1;
}

.chat .send-box div.btn {
  transition: 0.2s;
}

.open-races {
  display: flex;
  flex-direction: column;
}

.open-races .race {
  cursor: pointer;
}

.races-panel .new-race-btn {
  margin: 5px 5px;
}

.races-panel .race-text {
  display: flex;
  flex-direction: row;
}

.races-panel .race-text .char {
  display: block;
  min-width: 5px;
}

.races-panel .race-text .char.done {
  color: gray;
}

.races-panel .race-text .char.right-typed {
  border-bottom: 2px solid blue;
}

.races-panel .race-text .char.wrong-typed {
  border-bottom: 2px solid red;
}

.app {
  display: grid;
  grid-template-columns: auto 1fr;
}

.app .navbar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 60px;
  border-right: 1px solid lightgray;
  align-items: center;
}

.app .navbar .tab {
  padding: 0px 10px;
  margin: 3px 0px;
  cursor: pointer;
}

.app .navbar .tab i {
  font-size: 30px;
}

.app .content {
  margin-left: 10px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.content {
  margin-left: 10px;
}

.notifications {
  position: absolute;
  top: 10px;
  right: 10px;
}

.login-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.login-panel form {
  max-width: 300px;
  max-height: 700px;
}